@model IEnumerable<TrabajadoresPrueba.Models.Trabajadore>

<table id="tblTrabajador" class="display table table-bordered cell-border table-hover pt-2 ml-2 table-responsive">
    <thead class="thead-degrad">
        <tr>
            <th>Id</th>
            <th>T. Documento</th>
            <th>N° Documento</th>
            <th>Nombres</th>
            <th>Sexo</th>
            <th>Departamento</th>
            <th>Provincia</th>
            <th>Distrito</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody class="tbody-style">
        @if (Model.Count() == 0)
        {
            <tr class="fw-bold p-3">
                <td colspan="9" class="text-center">
                    No hay registros
                </td>    
            </tr>
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombres)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sexo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDepartamentoNavigation.NombreDepartamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProvinciaNavigation.NombreProvincia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdDistritoNavigation.NombreDistrito)
                </td>
                <td>
                    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="EditarTrabajador(@item.Id)">Edit</button>&nbsp;
                    <button class="btn btn-danger" onclick="EliminarTrabajador(@item.Id)">Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>